@model CurriculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Curriculo</title>
    <link rel="stylesheet" type="text/css" href="~/css/styleCurriculo.css">
    <link rel="stylesheet" type="text/css" href="~/css/rodape.css">

</head>

<body>
    <h1>@Model.Nome</h1>

    <div class="secao">
        <h2>Dados Pessoais</h2>
        <div id="cardCurriculo" class="vcard">
            <br>
            <p><label>CPF</label>@Model.Cpf</p>
            <p><label>Telefone</label>@Model.Telefone</p>
            <p><label>Email</label>@Model.Email</p>
            <p><label>Endereço</label>@Model.Endereco</p>
            <p><label>Pretensão Salarial</label>@Model.Pretencao_salarial.ToString("C")</p>
            <p><label>Cargo Pretendido</label>@Model.Cargo_pretendido</p>
        </div>
    </div>
    <br>
    <div class="secao">
        <h2>Formação acadêmica e cursos</h2><br>

        <p><label>Formação acadêmica 1</label>@Model.Formacao_academica_1</p>
        @if (@Model.Formacao_academica_2 != null)
        {
            <p><label>Formação acadêmica 2</label>@Model.Formacao_academica_2</p>
        }

        @if (@Model.Formacao_academica_3 != null)
        {
            <p><label>Formação acadêmica 2</label>@Model.Formacao_academica_3</p>
        }

        @if (@Model.Formacao_academica_4 != null)
        {
            <p><label>Formação acadêmica 2</label>@Model.Formacao_academica_4</p>
        }

        @if (@Model.Formacao_academica_5 != null)
        {
            <p><label>Formação acadêmica 2</label>@Model.Formacao_academica_5</p>
        }
    </div>

    <div class="secao">
        <h2>Experiências Profissionais</h2><br>

        <p><label>Experiencia Profissional 1</label>@Model.Experiencia_profissional_1</p>

        @if (@Model.Experiencia_profissional_2 != null)
        {
            <p><label>Experiencia Profissional 2</label>@Model.Experiencia_profissional_2</p>
        }

        @if (@Model.Experiencia_profissional_3 != null)
        {
            <p><label>Experiencia Profissional 3</label>@Model.Experiencia_profissional_3</p>
        }
    </div>

    <div class="secao">
        <h2>Idiomas</h2><br>

        <p><label>Inglês</label>@Model.Nivel_ingles</p>
        <p><label>Espanhol</label>@Model.Nivel_espanhol</p>
    </div>
</body>
<br />
<div id="imprimir">
    <p class="text-info">  
    <button class="btn btn-outline-success" onclick="imprimirTela()">Imprimir</button>
        <a href="/curriculo/index" class="btn btn-primary float-right" role="button">Voltar</a>
    </p>
</div>
<br /><br/><br/><br /><br/><br/>
<div id="rodape">
    <img src="~/img/logo.jpg">
    &copy; Copyright Faculdade Tecnologia Salvador Arena
</div>
<script>
    function imprimirTela() {
        document.getElementById('imprimir').style.visibility = 'hidden';
        document.getElementById('rodape').style.visibility = 'hidden';
        window.print();
        document.getElementById('imprimir').style.visibility = 'visible';
        document.getElementById('rodape').style.visibility = 'visible';

    }
</script>

