@using System.Text;
@model CurriculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">Cadastro de Currículos</h2>
<br />
<br />

<form action="Salvar" method="post">
    <input type="hidden" name="viewBag" value="@ViewBag.Bd" />
    <div class="form-group">
        <div>
            <h3>Dados Pessoais</h3>
            <br />

            <label for="Curriculo_id" class="control-label">Currículo</label>
            <input class="form-control disabled" type="number" Name="Curriculo_id" value="@Model.Curriculo_id" readonly />
            <br />

            <label for="Nome" class="control-label">Nome</label>
            <input class="form-control" type="text" Name="Nome" value="@Model.Nome" placeholder="Digite o seu nome" />
            <br />

            <label for="Cpf" class="control-label">CPF</label>
            <input class="form-control" type="text" Name="Cpf" value="@Model.Cpf" placeholder="Digite o seu CPF" />
            <br />

            <label for="Telefone" class="control-label">Telefone</label>
            <input class="form-control" type="text" Name="Telefone" value="@Model.Telefone" placeholder="Digite o seu telefone" />
            <br />

            <label for="Endereco" class="control-label">Endereço</label>
            <input class="form-control" type="text" Name="Endereco" value="@Model.Endereco" placeholder="Digite o seu endereço" />
            <br />

            <label for="Email" class="control-label">Email</label>
            <input class="form-control" type="text" Name="Email" value="@Model.Email" placeholder="Digite o seu email" />
            <br />

            <label for="Pretencao_salarial" class="control-label">Pretenção Salarial</label>
            <input class="form-control" type="number" Name="Pretencao_salarial" value="@Model.Pretencao_salarial" placeholder="Digite a sua pretenção salarial" />
            <br />

            <label for="Cargo_pretendido" class="control-label">Cargo Pretendido</label>
            <input class="form-control" type="text" Name="Cargo_pretendido" value="@Model.Cargo_pretendido" placeholder="Digite o cargo pretendido" />
            <br />
        </div>

        <br />
        <br />

        <div>
            <h3>Formação acadêmica e cursos</h3>
            <br />
            <label for="formacao_academica_1" class="control-label">Formação acadêmica 1</label>
                    <input class="form-control" type="text" Name="formacao_academica_1" value="@Model.Formacao_academica_1" placeholder="Digite a primeira formação acadêmica" />
            <br />
            <label for="formacao_academica_2" class="control-label">Formação acadêmica 2</label>
            <input class="form-control" type="text" Name="formacao_academica_2" value="@Model.Formacao_academica_2" placeholder="Digite a segunda formação acadêmica" />
            <br />
            <label for="formacao_academica_3" class="control-label">Formação acadêmica 3</label>
            <input class="form-control" type="text" Name="formacao_academica_3" value="@Model.Formacao_academica_3" placeholder="Digite a terceira formação acadêmica" />
            <br />
            <label for="formacao_academica_4" class="control-label">Formação acadêmica 4</label>
            <input class="form-control" type="text" Name="formacao_academica_4" value="@Model.Formacao_academica_4" placeholder="Digite a quarta formação acadêmica" />
            <br />
            <label for="formacao_academica_5" class="control-label">Formação acadêmica 5</label>
            <input class="form-control" type="text" Name="formacao_academica_5" value="@Model.Formacao_academica_5" placeholder="Digite a quinta formação acadêmica" />
            <br />
        </div>

        <br />
        <br />

        <div>
            <h3>Experiências Profissionais</h3>
            <br />
            <h3>Cite as 3 últimas ou menos</h3>
            

                <h5>Experiência Profissional </h5>
                <br />

            <label class="control-label">Experiencia Profissional 1</label>
            <input class="form-control" type="text" Name="experiencia_profissional_1" value="@Model.Experiencia_profissional_1" placeholder="Digite sua última experiência profissional" />
                <br />

            <label class="control-label">Experiencia Profissional 2</label>
            <input class="form-control" type="text" Name="experiencia_profissional_2" value="@Model.Experiencia_profissional_2" placeholder="Digite sua penúltima experiência profissional" />
            <br />

            <label class="control-label">Experiencia Profissional 3</label>
            <input class="form-control" type="text" Name="experiencia_profissional_3" value="@Model.Experiencia_profissional_3" placeholder="Digite sua antepenúltima experiência profissional" />
            <br />
            <br />
            <br />
          
        </div>

        <div>
            <h3>Idiomas</h3>
            <br />

            <label class="control-label">Digite o seu nível nos idiomas abaixo:</label>
            <br />
            <br />

            <label class="control-label">Inglês:</label>
            <select name="NivelIngles" value="@Model.Nivel_ingles">
                <option value="Básico" selected>Básico</option>
                <option value="Intermediário">Intermediário</option>
                <option value="Avançado">Avançado</option>
            </select>

            <br />
            <br />

            <label class="control-label">Espanhol:</label>
            <select id="NivelEspanhol" name="NivelEspanhol" >
                <option value="Básico" selected>Básico</option>
                <option value="Intermediário">Intermediário</option>
                <option value="Avançado">Avançado</option>
            </select>
            <br />
        </div>

    </div>
    <br />
    <input class="btn btn-success" type="submit" value="Salvar Currículo" />
    <br />

</form>


